<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
    <style>
        body{
            text-align: center;
        }

        .card{
            background-color: antiquewhite;
            width: 600px;
            margin: 12px auto;
            border-radius: ;
        }
    </style>
</head>
<body>
    <h1>代辦事項</h1>
    {% for todo in todos %}
    <h2>{{todo.title}}</h2>
    <small>{{todo.created}}</small>
    <li>{{todo.text}}</li>
    {% if todo.important %}
    <p style="color: red;">重要</p>
    {% endif %}
    <hr>
    {% endfor %}

</body>
</html>